@model Personal_Info_Management_System.Models.PersonalInfo

<h2>Edit Personal Information</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="row">

        <div class="col-md-6">

            <div class="mb-3">
                <label>First Name</label>
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Last Name</label>
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Phone</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Date Of Birth</label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
            </div>

        </div>

        <div class="col-md-6">

            <div class="mb-3">
                <label>Gender</label>
                <select asp-for="Gender" class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Address</label>
                <input asp-for="Address" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Nationality</label>
                <input asp-for="Nationality" class="form-control" />
            </div>

        </div>

    </div>

    <button class="btn btn-primary">
        Update
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Back
    </a>

</form>